<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

</head>

<body>

    <div class="container my-2">
        <h1>Users Hist</h1>

        <a th:href="@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> Historique </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>seuil_min_CO2</th>
                    <th> seuil_max_CO2 </th>
                    <th> seuil_min_NO2 </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="hist : ${list}">
                    <td th:text="${hist.seuil_min_CO2}"></td>
                    <td th:text="${hist.seuil_max_CO2}"></td>
                     <td th:text="${hist.seuil_min_NO2}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>